@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
    z-index: 100;
}

.social-call {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #093b3c;
}

.social a {
    margin: 0px 5px;
    color: #cdcdcd;
    font-size: 0.9rem;
}

.phone {
    color: #cdcdcd;
    margin-left: 30px;
    font-size: 0.9rem;
}

.social a:hover {
    color: #ffffff;
    transition: all ease 0.3s;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}

.logo img {
    height: 50px;
    width: 105px;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li a {
    color: black;
}

.right-menu a {
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover {
    color: #093b3c;
    transition: all ease 0.3s;
}

.fa-shopping-cart {
    position: relative;
}

.num-cart-product {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #093b3c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.search-bar {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;
    animation: search 0.3s;
}

.search-input {
    width: 90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}

.search-bar input {
    width: 100%;
    padding: 30px;
    border: none;
    outline: none; 
    font-size: 1.5rem;
    margin: 100px;
    padding: 0px 20px;
}

.search-cancel {
    color: 272727;
    font-size: 2rem;
    padding-right: 40px;
}

.search-bar {
    display: none;
}

.search-bar-active {
    display: flex;
}

@keyframes search {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 0px;
    }
}

.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}

.login-form,
.sign-up-form {
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
}

.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
    background-color: #093b3c;
    color: #ffffff;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.forf-btns a {
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn {
    border-bottom: 1px solid #868686;
    line-height: 16px;
}

.form-cancel {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;

}

.login-form,
.sign-up-form,
.form {
    display: none;
}

.login-active,
.login-active .login-form {
    display: flex;
}

.sign-up-active,
.sign-up-active .sign-up-form {
    display: flex;
}

.full-slider-box {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.f-slide-1 {
    background-image: url(../pictures/cover.jpg);
}

.slider-text-container {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong {
    color: #093b3c;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.2rem;
}

.f-slider-btn {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #093b3c;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

.section-p1 {
    padding: 40px 80px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 240px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    margin-top: 10px;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #ffffff;
    background-color: #088178;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(228, 170, 24);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.section-m1 {
    margin: 40px 0;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../pictures/banner1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../pictures/banner2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ffc259;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#banner2 button:hover {
    background-color: #088178;
    color: #fff;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../pictures/newsaletter.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    color: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 16px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}




.sidebar_w3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(221, 240, 210);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar_w3 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar_w3 a:hover {
    color: #f1f1f1;
}
  
.sidebar_w3 .closebtn_w3 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn_w3 {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn_w3:hover {
    background-color: #444;
}


/*Newly Added Function*/

.btn-dark {
    background-color: #003b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-dark:hover {
    background-color: #005e5e;
}

/*For PopUP*/

.checkout-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.checkout-content {
  background-color: #e6f0d5;
  width: 90%;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

